version: '2.1'

services:
    suricata:
        image: thaihust/suricata:4.1.4
        volumes:
            - $basepath/config/suricata:/etc/suricata:ro
            - $basepath/suricata/log:/var/log/suricata:rw
            - $basepath/suricata/run:/var/run/suricata:rw
            - $basepath/suricata/nsm:/data/nsm:rw
        cap_add:
            - NET_ADMIN
            - NET_RAW
        network_mode: host
        environment:
            - SURICATA_ARGS="$capture_option"
            - DEVICE=$iface
        extends:
          file: common.yml
          service: common
    
    elasticsearch:
        build: $basepath/docker/elasticsearch
        ports:
            - 9200:9200
            - 9300:9300
        environment:
          - cluster.name=es-moloch
          - bootstrap.memory_lock=true
          - "ES_JAVA_OPTS=-Xms3072m -Xmx3072m"
        ulimits:
          memlock:
            soft: -1
            hard: -1
          nofile:
            soft: 65536
            hard: 65536
        cap_add:
          - IPC_LOCK
        volumes:
            - $basepath/elasticsearch:/usr/share/elasticsearch/data:rw
        extends:
          file: common.yml
          service: common
    
    logstash:
        image: logstash:6.7.0
        links:
            - elasticsearch
        command: /opt/logstash/bin/logstash -f /etc/logstash/conf.d/ 
        volumes:
            - $basepath/config/logstash:/etc/logstash:ro
            - $basepath/suricata/log:/var/log/suricata:ro
        hostname: suricata
        extends:
          file: common.yml
          service: common
    
    kibana:
        image: kibana:6.7.0
        links:
            - elasticsearch
        ports:
            - 5601:5601
        environment:
            ELASTICSEARCH_HOSTS: http://elasticsearch:9200
        extends:
          file: common.yml
          service: common
    
    scirius:
        image: thaihust/scirius:3.1.0
        volumes:
            - $basepath/config/scirius:/etc/scirius:ro
            - $basepath/config/suricata/suricata.yaml:/etc/suricata/suricata.yaml:ro
            - $basepath/scirius:/etc/suricata/rules:rw
            - $basepath/suricata/run:/var/run/suricata:ro
            - $basepath/backups:/var/backups:rw
        volumes_from:
            - sciriusdata
            - sciriusstatic
        extends:
          file: common.yml
          service: common
        network_mode: host
    
    sciriusdata:
        image: busybox:1.31
        volumes:
            - /sciriusdata
        extends:
          file: common.yml
          service: common
        stdin_open: true
        network_mode: host
    
    sciriusstatic:
        image: busybox:1.31
        volumes:
            - /sciriusstatic
        extends:
          file: common.yml
          service: common
        stdin_open: true
        network_mode: host
    
    evebox:
        image: jasonish/evebox:latest
        links:
            - elasticsearch
        ports:
            - 5636:5636
        extends:
          file: common.yml
          service: common
        environment:
          - ELASTICSEARCH_URL=http://elasticsearch:9200
    
    nginx:
        image: nginx:1.17
        volumes: 
            - $basepath/config/nginx/amsterdam.conf:/etc/nginx/conf.d/default.conf:ro
            - $basepath/config/nginx/ssl/:/etc/nginx/ssl/:ro
        volumes_from:
            - sciriusstatic
        extends:
          file: common.yml
          service: common
        network_mode: host

    moloch:
        image: thaihust/moloch:1.6.1-1_amd64 
        environment:
          - INITALIZEDB=true
          - MOLOCH_ADMIN_USER=scirius
          - MOLOCH_PASSWORD=scirius
          - WIPEDB=false
          - MOLOCH_VERSION=1.6.1-1_amd64
          - UBUNTU_VERSION=18.04
          - ES_HOST=127.0.0.1
          - ES_PORT=9200
          - MOLOCH_INTERFACE=$iface
          - CAPTURE=on
          - VIEWER=on
        depends_on:
          - elasticsearch
        ports:
          - 0.0.0.0:8005:8005
        volumes:
          - $basepath/config/moloch:/data/moloch/etc
          - $basepath/moloch/tcpdump:/data/pcap
          - $basepath/moloch/logs:/data/moloch/logs
          - $basepath/moloch/raw:/data/moloch/raw
          - moloch:/data/configured
          - $basepath/suricata/log:/var/log/suricata:rw
        extends:
          file: common.yml
          service: common
        network_mode: host

volumes:
  moloch:
    driver: local
