[default]
sctpTimeout=30
readTruncatedPackets=true
snapLen=65536
elasticsearch=http://127.0.0.1:9200
plugins=suricata.so
suricataAlertFile=/var/log/suricata/eve.json
suricataExpireMinutes=180
rotateIndex=daily
passwordSecret = admin
httpRealm = Moloch
webBasePath = /moloch/
interface=$iface
pcapDir = /data/moloch/raw
maxFileSizeG = 12
tcpTimeout = 600
tcpSaveTimeout = 720
udpTimeout = 30
icmpTimeout = 10
maxStreams = 1000000
maxPackets = 10000
freeSpaceG = 5%
viewPort = 8005
geoLite2Country = /data/moloch/etc/GeoLite2-Country.mmdb
geoLite2ASN = /data/moloch/etc/GeoLite2-ASN.mmdb
rirFile = /data/moloch/etc/ipv4-address-space.csv
ouiFile = /data/moloch/etc/oui.txt
dropUser=nobody
dropGroup=daemon
userNameHeader=remote_user
parseSMTP=true
parseSMB=true
parseQSValue=false
supportSha256=false
maxReqBody=64
config.reqBodyOnlyUtf8 = true
smtpIpHeaders=X-Originating-IP:;X-Barracuda-Apparent-Source-IP:
parsersDir=/data/moloch/parsers
pluginsDir=/data/moloch/plugins
spiDataMaxIndices=4
packetThreads=4
pcapWriteMethod=simple
pcapWriteSize = 1048576 
pcapBufferSize = 4000000
dbBulkSize = 300000
compressES = false
maxESConns = 30
maxESRequests = 1500
packetsPerPoll = 50000
antiSynDrop = true
logEveryXPackets = 100000
logUnknownProtocols = false
logESRequests = true
logFileCreation = true
maxPacketsInQueue = 500000
[class1]
freeSpaceG = 10%
[node1]
nodeClass = class1
elasticsearch=elasticsearchhost1
[node2]
nodeClass = class2
elasticsearch=elasticsearchhost2
interface = eth4
